<!-- Blog Hero Begin -->
<div class="blog-hero set-bg" data-setbg="img/blog/details/blog-hero.jpg">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-7">
                <div class="blog__hero__text">
                    <div class="label">Recetas</div>
                    <h2>Cocinar comida cajún</h2>
                    <ul>
                        <li>Por <span>James Myers</span></li>
                        <li>13 Nov 2021</li>
                        <li>112 Vistas</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Hero End -->

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="blog__details__content">
                    <div class="blog__details__share">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="blog__details__text">
                        <p>Los quemadores de latón fundido y acero inoxidable fundido tienen las rebabas más pequeñas,
                            con diferencia. Esta significará menos caos en el flujo de gas, menos partículas atrapadas
                            en el quemador y
                            una parrilla de combustión más limpia. La siguiente comparación muestra cómo se forman los
                            puertos.</p>
                        <p>¿Por qué es importante la formación de puertos? Muchas rasones. Si el agujero se perfora en
                            una hoja quemador de metal, deja una pestaña grande dentro del quemador que causará más caos
                            mientras ardiente. Es más apto para retener partículas de comida atrapadas y grasa y, por lo
                            tanto, es más
                            Es probable que se queme. (Observe la foto del quemador Alfresco a continuación. </p>
                    </div>
                    <div class="blog__details__recipe">
                        <div class="blog__details__recipe__item">
                            <h6><img src="img/blog/details/user.png" alt=""> PORCIONES</h6>
                            <span>2 como principal, 4 como lateral</span>
                        </div>
                        <div class="blog__details__recipe__item">
                            <h6><img src="img/blog/details/clock.png" alt=""> TIEMPO DE PREPARACIÓN</h6>
                            <span>15 minutos</span>
                        </div>
                        <div class="blog__details__recipe__item">
                            <h6><img src="img/blog/details/clock.png" alt=""> COOKING TIME</h6>
                            <span>15 minutos</span>
                        </div>
                    </div>
                    <div class="blog__details__recipe__details">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__ingredients">
                                    <h6>Ingredientes</h6>
                                    <ul>
                                        <li><span>.</span> 1 taza (240 ml) de leche entera</li>
                                        <li><span>.</span> 1 taza (240 ml) de agua, y más según sea necesario</li>
                                        <li><span>.</span> 1 cucharadita de sal marina fina</li>
                                        <li><span>.</span> 2 cucharadas de aceite de oliva</li>
                                        <li><span>.</span> 3/4 taza (120 g) de polenta fina</li>
                                        <li><span>.</span> 3 tazas de aceite de girasol,según sea necesario</li>
                                        <li><span>.</span> 7 onzas (200 g) de chirivías peladas,</li>
                                        <li><span>.</span> 1 pizca de sal marina fina, y más al gusto</li>
                                        <li><span>.</span> 2 cucharadas (30 g) de mantequilla sin sal</li>
                                        <li><span>.</span> 1/2 cucharada de sirope de arce</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__ingredients__pic">
                                    <img src="img/blog/details/blog-details.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog__details__direction">
                        <h6>Preparación</h6>
                        <ul>
                            <li><span>01.</span> Combine todos los ingredientes, amasando para formar una masa suave.
                            </li>
                            <li><span>02.</span> Deje que la masa suba, en un tazón tapado y ligeramente engrasado,
                                hasta que duplique su tamaño.</li>
                            <li><span>03.</span> unos 90 minutos.</li>
                            <li><span>04.</span> Divida suavemente la masa por la mitad; se desinflará un poco. Forme
                                suavemente la masa en dos panes ovalados; o, para panes más largos, dos troncos de 10 ″
                                a 11 ″.
                            </li>
                            <li><span>05.</span> Coloque los panes en una bandeja para hornear ligeramente engrasada o
                                forrada con pergamino. Cubrir y dejar</li>
                            <li><span>06.</span> levántelo hasta que esté muy hinchado, aproximadamente 1 hora. Hacia el
                                final del tiempo de subida, precaliente el horno.</li>
                            <li><span>07.</span> a 425 ° F.</li>
                            <li><span>08.</span> Rocía los panes con agua tibia. Haz dos barras diagonales bastante
                                profundas en cada una; un cuchillo de pan dentado, empuñado con firmeza,</li>
                        </ul>
                    </div>
                    <div class="blog__details__print">
                        <a href="#" class="primary-btn"><i class="fa fa-print"></i> Imprimir receta</a>
                    </div>
                    <div class="blog__details__text">
                        <p>Los puertos moldeados en los quemadores fundidos parecen ser una buena idea, pero existe una
                            dificultad considerable para uniformarlos. Por lo tanto, es más rápido y menos costoso
                            perforar.</p>
                        <p>El quemador de parrilla Fire Magic tiene orificios perforados Observe (de la foto en nuestro
                            sitio) la falta
                            de rebabas extensas, lo que permite un flujo suave de gas. Fundir hojas de acero inoxidable
                            pocas, si cualquiera, rebabas cuando se perfora. Este quemador tiene una garantía de por
                            vida, incluso contra el óxido y
                            quemado. </p>
                    </div>
                    <div class="blog__details__tags">
                        <span>Tag</span>
                        <a href="#">Comida</a>
                        <a href="#">Material</a>
                        <a href="#">Pasteles</a>
                        <a href="#">Hornear</a>
                    </div>
                    <div class="blog__details__btns">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__details__btns__item">
                                    <a href="#"><span class="arrow_carrot-left"></span>Post Anteriores</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__details__btns__item blog__details__btns__item--next">
                                    <a href="#">Siguiente Post <span class="arrow_carrot-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog__details__author">
                        <div class="blog__details__author__pic">
                            <img src="img/blog/details/blog-author.jpg" alt="">
                        </div>
                        <div class="blog__details__author__text">
                            <h6>Mitchell Holland</h6>
                            <div class="blog__details__author__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="blog__details__comment">
                        <h5>03 Comentarios</h5>
                        <a href="#" class="primary-btn">Deja un comentario</a>
                        <div class="blog__details__comment__item">
                            <div class="blog__details__comment__item__pic">
                                <img src="img/blog/details/comment-1.jpg" alt="">
                            </div>
                            <div class="blog__details__comment__item__text">
                                <h6>Dylan Stewart</h6>
                                <span>26 Feb 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                                <div class="blog__details__comment__btns">
                                    <a href="#">Reply</a>
                                    <a href="#">Like</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__comment__item blog__details__comment__item--reply">
                            <div class="blog__details__comment__item__pic">
                                <img src="img/blog/details/comment-2.jpg" alt="">
                            </div>
                            <div class="blog__details__comment__item__text">
                                <h6>Derrick Patrick</h6>
                                <span>26 Feb 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                                <div class="blog__details__comment__btns">
                                    <a href="#">Reply</a>
                                    <a href="#">Like</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__comment__item">
                            <div class="blog__details__comment__item__pic">
                                <img src="img/blog/details/comment-3.jpg" alt="">
                            </div>
                            <div class="blog__details__comment__item__text">
                                <h6>Michael Luna</h6>
                                <span>26 Feb 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                                <div class="blog__details__comment__btns">
                                    <a href="#">Reply</a>
                                    <a href="#">Like</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->