<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Detalles de Facturación</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="./index.html">Inicio</a>
                    <span>Detalles de Facturación</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form action="#">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <h6 class="coupon__code"><span class="icon_tag_alt"></span> ¿Tienes cupones? <a href="#">Clic
                                aquí</a> para ingresar el código</h6>
                        <h6 class="checkout__title">Detalles de Factura</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Nombre<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Apellidos<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>País<span>*</span></p>
                            <input type="text">
                        </div>
                        <div class="checkout__input">
                            <p>Dirección<span>*</span></p>
                            <input type="text" placeholder="Calle y Número" class="checkout__input__add">
                            <input type="text" placeholder="Tipo de habitación: casa, apartamento, etc (opcinal)">
                        </div>
                        <div class="checkout__input">
                            <p>Municipio<span>*</span></p>
                            <input type="text">
                        </div>
                        <div class="checkout__input">
                            <p>Estado<span>*</span></p>
                            <input type="text">
                        </div>
                        <div class="checkout__input">
                            <p>Código Postal<span>*</span></p>
                            <input type="text">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Teléfono<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Correo Electrónico<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input__checkbox">
                            <label for="acc">
                                Crear Cuenta
                                <input type="checkbox" id="acc">
                                <span class="checkmark"></span>
                            </label>
                            <p>Crear una cuenta llenando la información de debajo. Si usted ya es cliente,

                                por favor inicie sesión en la parte superior</p>
                        </div>
                        <div class="checkout__input">
                            <p>Contraseña de la cuenta<span>*</span></p>
                            <input type="text">
                        </div>
                        <div class="checkout__input__checkbox">
                            <label for="diff-acc">
                                Nota sobre su pedido, por ejemplo, sin descuento especial para la entrega
                                <input type="checkbox" id="diff-acc">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkout__input">
                            <p>Notas del Pedido<span>*</span></p>
                            <input type="text" placeholder="Notas sobre su pedido, por ejemplo: Dedicatoria especial.">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h6 class="order__title">Su Pedido</h6>
                            <div class="checkout__order__products">Producto <span>Total</span></div>
                            <ul class="checkout__total__products">
                                <li><samp>01.</samp> Caramelo de Vainilla Salado <span>$ 300.0</span></li>
                                <li><samp>02.</samp> Chocolate Alemán <span>$ 170.0</span></li>
                                <li><samp>03.</samp> Dulce Otoño <span>$ 170.0</span></li>
                                <li><samp>04.</samp> Mini Docena Libre de Gluten <span>$ 110.0</span></li>
                            </ul>
                            <ul class="checkout__total__all">
                                <li>Subtotal <span>$750.99</span></li>
                                <li>Total <span>$750.99</span></li>
                            </ul>
                            <div class="checkout__input__checkbox">
                                <label for="acc-or">
                                    Crear una Cuenta
                                    <input type="checkbox" id="acc-or">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                            <div class="checkout__input__checkbox">
                                <label for="payment">
                                    Pago en efectivo
                                    <input type="checkbox" id="payment">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="paypal">
                                    Pago vía Paypal
                                    <input type="checkbox" id="paypal">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button type="submit" class="site-btn">FINALIZAR PEDIDO</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->