
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>!Bienvenido <?=$_SESSION["nombre"] ?>!</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="./index.html">Inicio</a>
                    <span>Home</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-1.jpg">
                        <div class="blog__pic__inner">
                            <div class="label">Lecturas</div>
                            <ul>
                                <li>Por <span>Carrie</span></li>
                                <li>13 Nov 2021</li>
                                <li>112 Vistas</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog__item__text">
                        <script>
                            function vermas(id){
                            if(id=="mas"){
                            document.getElementById("desplegar").style.display="block";
                            document.getElementById("mas").style.display="none";
                            }else{
                            document.getElementById("desplegar").style.display="none";
                            document.getElementById("mas").style.display="inline";
                            }
                            }
                            </script>
                        <h2>Mantenga limpia la zona de cocción</h2>
                        <p>Las hierbas son divertidas y fáciles de cultivar. Cuando se cosechan, hacen que incluso la
                            comida más simple parezca
                            una delicia gourmet. Siempre es confuso distinguir entre una hierba de olor y una especia, 
                            aunque ambas hacen un gran equipo a la hora de utilizarlas en la cocina. <a href="#" onclick="vermas('mas');" id="mas">... [leer más]</a></p>
                        <p id="desplegar" style="display:none;">
                            La principal diferencia es que mientras las especias son semillas, resinas o frutos, 
                            las hierbas siempre serán hojas y tallos. Es decir, en una misma planta sí se puede tener 
                            hierbas aromáticas y especias. Un factor que distingue una de la otra a la hora de cocinarlas
                             es que las especias potencian el aroma con el calor, mientras que en las hierbas sucede pero 
                             cuando están frescas.<br><br> Al comer una hierba de olor, el primer sentido que la percibirá será el olfato 
                             incluso antes que el gusto-. La mayoría tienen cualidades muy sutiles, por lo que el retrogusto no va a ser 
                             nada prolongado.El papel de una hierba aromática en un platillo es acompañar a la sazón. Generalmente se agregan 
                             a la hora de poner sal y pimienta para no quemarlas con el calor.
                             <a href="#" onclick="vermas('menos');" id="menos">... [leer menos]</a></p>
                            <!--<a href="#">LEER MÁS</a>-->
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg">
                        <div class="blog__pic__inner">
                            <div class="label">Lecturas</div>
                            <ul>
                                <li>Por <span>Jason K.</span></li>
                                <li>13 Nov 2021</li>
                                <li>112 Vistas</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog__item__text">
                        <script>
                            function vermas(id){
                            if(id=="mas"){
                            document.getElementById("desplegar").style.display="block";
                            document.getElementById("mas").style.display="none";
                            }else{
                            document.getElementById("desplegar").style.display="none";
                            document.getElementById("mas").style.display="inline";
                            }
                            }
                            </script>
                        <h2>Mantenga limpia la zona de cocción</h2>
                        <p>Las hierbas son divertidas y fáciles de cultivar. Cuando se cosechan, hacen que incluso la
                            comida más simple parezca
                            una delicia gourmet. Siempre es confuso distinguir entre una hierba de olor y una especia, 
                            aunque ambas hacen un gran equipo a la hora de utilizarlas en la cocina. <a href="#" onclick="vermas('mas');" id="mas">... [leer más]</a></p>
                        <p id="desplegar" style="display:none;">
                            La principal diferencia es que mientras las especias son semillas, resinas o frutos, 
                            las hierbas siempre serán hojas y tallos. Es decir, en una misma planta sí se puede tener 
                            hierbas aromáticas y especias. Un factor que distingue una de la otra a la hora de cocinarlas
                             es que las especias potencian el aroma con el calor, mientras que en las hierbas sucede pero 
                             cuando están frescas.<br><br> Al comer una hierba de olor, el primer sentido que la percibirá será el olfato 
                             incluso antes que el gusto-. La mayoría tienen cualidades muy sutiles, por lo que el retrogusto no va a ser 
                             nada prolongado.El papel de una hierba aromática en un platillo es acompañar a la sazón. Generalmente se agregan 
                             a la hora de poner sal y pimienta para no quemarlas con el calor.
                             <a href="#" onclick="vermas('menos');" id="menos">... [leer menos]</a></p>
                            <!--<a href="#">LEER MÁS</a>-->
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg">
                        <div class="blog__pic__inner">
                            <div class="label">Lecturas</div>
                            <ul>
                                <li>Por <span>Fred Krueger</span></li>
                                <li>13 Nov 2021</li>
                                <li>112 Vistas</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog__item__text">
                        <script>
                            function vermas(id){
                            if(id=="mas"){
                            document.getElementById("desplegar").style.display="block";
                            document.getElementById("mas").style.display="none";
                            }else{
                            document.getElementById("desplegar").style.display="none";
                            document.getElementById("mas").style.display="inline";
                            }
                            }
                            </script>
                        <h2>Mantenga limpia la zona de cocción</h2>
                        <p>Las hierbas son divertidas y fáciles de cultivar. Cuando se cosechan, hacen que incluso la
                            comida más simple parezca
                            una delicia gourmet. Siempre es confuso distinguir entre una hierba de olor y una especia, 
                            aunque ambas hacen un gran equipo a la hora de utilizarlas en la cocina. <a href="#" onclick="vermas('mas');" id="mas">... [leer más]</a></p>
                        <p id="desplegar" style="display:none;">
                            La principal diferencia es que mientras las especias son semillas, resinas o frutos, 
                            las hierbas siempre serán hojas y tallos. Es decir, en una misma planta sí se puede tener 
                            hierbas aromáticas y especias. Un factor que distingue una de la otra a la hora de cocinarlas
                             es que las especias potencian el aroma con el calor, mientras que en las hierbas sucede pero 
                             cuando están frescas.<br><br> Al comer una hierba de olor, el primer sentido que la percibirá será el olfato 
                             incluso antes que el gusto-. La mayoría tienen cualidades muy sutiles, por lo que el retrogusto no va a ser 
                             nada prolongado.El papel de una hierba aromática en un platillo es acompañar a la sazón. Generalmente se agregan 
                             a la hora de poner sal y pimienta para no quemarlas con el calor.
                             <a href="#" onclick="vermas('menos');" id="menos">... [leer menos]</a></p>
                            <!--<a href="#">LEER MÁS</a>-->
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-4.jpg">
                        <div class="blog__pic__inner">
                            <div class="label">Lecturas</div>
                            <ul>
                                <li>Por <span>Michael Myers</span></li>
                                <li>13 Nov 2021</li>
                                <li>112 Vistas</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog__item__text">
                        <script>
                            function vermas(id){
                            if(id=="mas"){
                            document.getElementById("desplegar").style.display="block";
                            document.getElementById("mas").style.display="none";
                            }else{
                            document.getElementById("desplegar").style.display="none";
                            document.getElementById("mas").style.display="inline";
                            }
                            }
                            </script>
                        <h2>Mantenga limpia la zona de cocción</h2>
                        <p>Las hierbas son divertidas y fáciles de cultivar. Cuando se cosechan, hacen que incluso la
                            comida más simple parezca
                            una delicia gourmet. Siempre es confuso distinguir entre una hierba de olor y una especia, 
                            aunque ambas hacen un gran equipo a la hora de utilizarlas en la cocina. <a href="#" onclick="vermas('mas');" id="mas">... [leer más]</a></p>
                        <p id="desplegar" style="display:none;">
                            La principal diferencia es que mientras las especias son semillas, resinas o frutos, 
                            las hierbas siempre serán hojas y tallos. Es decir, en una misma planta sí se puede tener 
                            hierbas aromáticas y especias. Un factor que distingue una de la otra a la hora de cocinarlas
                             es que las especias potencian el aroma con el calor, mientras que en las hierbas sucede pero 
                             cuando están frescas.<br><br> Al comer una hierba de olor, el primer sentido que la percibirá será el olfato 
                             incluso antes que el gusto-. La mayoría tienen cualidades muy sutiles, por lo que el retrogusto no va a ser 
                             nada prolongado.El papel de una hierba aromática en un platillo es acompañar a la sazón. Generalmente se agregan 
                             a la hora de poner sal y pimienta para no quemarlas con el calor.
                             <a href="#" onclick="vermas('menos');" id="menos">... [leer menos]</a></p>
                            <!--<a href="#">LEER MÁS</a>-->
                    </div>
                </div>
                <div class="shop__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><span class="arrow_carrot-right"></span></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Búsqueda">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h5>Síguenos</h5>
                        <div class="blog__sidebar__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h5>Leer también</h5>

                        <div class="blog__sidebar__recent">
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="img/blog/br-1.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h4>Secreto para cocinar verduras</h4>
                                    <span>13 Nov 2021</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="img/blog/br-2.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h4>Mitos de la barbacoa que te deprimen</h4>
                                    <span>13 Nov 2021</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="img/blog/br-3.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h4>Ahorre dinero al estilo Crock Pot</h4>
                                    <span>13 Nov 2021</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="img/blog/br-4.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h4>Consejos para asar a la parrilla para los días de verano</h4>
                                    <span>13 Nov 2021</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="img/blog/br-5.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h4>Técnicas de barbacoa dos métodos a considerar</h4>
                                    <span>13 Nov 2021</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h5>Categorías</h5>
                        <div class="blog__sidebar__item__categories">
                            <ul>
                                <li><a href="#">Recetas <span>36</span></a></li>
                                <li><a href="#">Guías <span>18</span></a></li>
                                <li><a href="#">Noticias <span>09</span></a></li>
                                <li><a href="#">Videos <span>12</span></a></li>
                                <li><a href="#">Tendencias <span>27</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h5>Boletín informativo</h5>
                        <p>Suscríbase a nuestro boletín y reciba nuestras actualizaciones más recientes directamente en
                            su bandeja de entrada.</p>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <label for="agg">
                                Acepto los términos & condiciones
                                <input type="checkbox" id="agg">
                                <span class="checkmark"></span>
                            </label>
                            <button type="submit" class="site-btn">Suscribir</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->