<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Registro</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">

        <div class="checkout__form">
            <form action="controllers/guardarUsuario.php" method="POST">
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="coupon__code"></h6>
                        <h6 class="checkout__title">Detalles de registro
                        </h6>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="checkout__input">
                                    <p>Nombre<span>*</span></p>
                                    <input name="nombre" type="text"  required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkout__input">
                                    <p>Apellido Paterno<span>*</span></p>
                                    <input name="apellido1" type="text"  required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkout__input">
                                    <p>Apellido Materno<span>*</span></p>
                                    <input name="apellido2" type="text"  required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="checkout__input">
                                    <p>Teléfono<span>*</span></p>
                                    <input name="telefono" type="number" maxlength="10"required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="checkout__input">
                                    <p>Correo<span>*</span></p>
                                    <input name="email" type="email" required>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="checkout__input">
                                    <p>Edad<span>*</span></p>
                                    <input name="edad" type="number" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            

                            <div class="col-md-6">
                                <div class="checkout__input">
                                    <p>Contraseña<span>*</span></p>
                                    <input name="contrasenia" type="password" minlength="8" required>
                                </div>
                            </div>
                            

                            <input class="btn btn-primary btn-block" type="submit" value="Registrarse">


                        </div>


                    </div>
                    <div class="col-lg-4 col-md-6">

                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->